{% extends 'main.html' %}

{% block content %}
<main class="site-body">
  <div>{{msr.name}}</div>
  <div>{{msr.year}}</div>
  <div>{{msr.month}}</div>
  <div>{{msr.day}}</div>
  <div>{{msr.time}}</div>
  <div>{{msr.gen}}</div>
  <div>{{msr.sl}}</div>
  <div>{{datas.s_year}}</div>
  <div>{{datas.l_year}}</div>
  <div>{{datas.time_gan_kr}}</div>
  <div>{{datas.time_gan_ch}}</div>
  <div>{{datas.time_ji_ch}}</div>
  <div>{{datas.gender}}</div>
  <div>{{datas.daewoon}}</div>
  <div>{{datas.daewoon_num}}</div>
</main>
{% endblock content %}
