{% load static %}
<div class="header">
    <div class="menubtn-wrap">
        <input type="checkbox" id="menuicon">
        <label for="menuicon" class="menubtn">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="sidebar">
            <ul>
                <a href="#"><li>작명원소개</li></a>
                <a href="#"><li>작명절차안내</li></a>
                <a href="{% url 'm-jm-submit' %}"><li>신생아작명신청</li></a>
                <a href="#"><li>개명신청</li></a>
                <a href="#"><li>사주상담신청</li></a>
                <a href="#"><li>도원 성명학</li></a>
                <a href="#"><li>도원 사주학</li></a>
                <a href="#"><li>신청서 확인</li></a>
            </ul>
        </div>
        <div class="sideonbg"></div>
    </div>
    <div class="logo">
        <a href="{% url "m-home" %}"><img aria-label="logo" src="{% static "img/mdwlogo.png" %}" ></a>
    </div>
    <div class="hrightbtn-wrap">
        <div class="hrightbtn">
            <img aria-label="search icon" src="{% static "img/minisearch.png" %}" >
            <a href="#"><div>신청서확인</div></a>
        </div>
    </div>
</div>