{% load static %}
<div class="header">
    <div class="menubtn-wrap">
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <div class="sidebar">
            <ul>
                <a href="{% url 'm-sub-intro' %}"><li>작명원소개</li></a>
                <a href="#"><li>작명절차안내</li></a>
                <a href="{% url 'm-submit-jm' %}"><li>신생아작명신청</li></a>
                <a href="{% url 'm-submit-gm' %}"><li>개명신청</li></a>
                <a href="{% url 'm-submit-sj' %}"><li>사주상담신청</li></a>
                <a href="#"><li>도원 성명학</li></a>
                <a href="#"><li>도원 사주학</li></a>
                <a href="#"><li>신청서 확인</li></a>
            </ul>
        </div>
        <div class="sideonbg"></div>
    </div>
    <div class="logo">
        <a href="{% url "m-home" %}"><img aria-label="logo" src="{% static "img/mdwlogo.png" %}" ></a>
    </div>
    <div class="hrightbtn-wrap">
        <div class="hrightbtn">
            <img aria-label="search icon" src="{% static "img/minisearch.png" %}" >
            <a href="{% url "m-find-submit" %}"><div>신청서확인</div></a>
        </div>
    </div>
</div>