{% extends 'mobile/main.html' %}
{% load static %}
{% block content %}
<div class="wrap">
    {% include 'mobile/header.html' %}
    <div class="container">
        <div class="conimg">
            <img aria-label="conimage" src="{% static "img/m-maintext.png" %}" >            
        </div>
        <div class="downDiv1">
            {% include 'mobile/components/tap_menu.html' %}
        </div>
        <div class="section1">
            <video src="{% static "video/dowon_intro.mp4" %}" controls autoplay muted loop width="90%"></video>
        </div>
    </div>
    {% include 'mobile/components/footer.html' %}
    
</div>

{% endblock content %}
