{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/mobile/style.css' %}">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>도원사주작명원</title>
</head>
<body>

    {% block content %}
    {% endblock %}

    <script src="{% static 'styles/script.js' %}"></script>
</body>
</html>