{% load static %}
<div class="header">
    <div class="header_wrap">
        <div id="nav-underline"></div>
        <div class="logo">
            <a href="{% url "home" %}"><img aria-label="main banner" src="{% static "img/dwlogo.png" %}" ></a>
        </div>
        <div class="nav">
            <ul>                    
                <a href="{% url "sub-intro" %}"><li>작명원소개</li></a>
                <a href="{% url "m-home" %}"><li>도원성명학</li></a>
                <a href="#"><li>도원사주학</li></a>
                <li><a href="{% url "msr-input" %}">작명절차안내</a></li>
                <li><a href="{% url "submit-jm" %}">작명신청하기</a></li>
                <li>개명신청하기</li>
                <li>사주/궁합</li>
            </ul>
        </div>
    </div>
</div>